//FUENTES
$fuente-titulos: "Montserrat", sans-serif;
$fuente-textos: "Poppins", sans-serif;
$fuente-fantasia: "Caveat", cursive;

//COLORES
$color-azul: #64bee6;
$color-rojo: #dc3c3a;
$color-naranja: #ff8c24;
$color-textos: #6b6b6b;
$color-bg-black: #272727;
$color-datos-info: #c2ecff;
$color-txt-black: #242424;
$color-bg-white: #f5f5f5;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//GENERALES
.oculto {
  display: none;
}
img {
  object-fit: fill;
}
ul {
  list-style-type: none;
}
.texto-pequeño {
  font-size: 0.8rem;
  font-family: $fuente-textos;
  font-weight: 500;
}
.textos-comunes,
.texto-grande {
  font-family: $fuente-textos;
  font-size: 1rem;
  line-height: 1.8;
  color: $color-textos;
}
.texto-grande {
  font-size: 1.1rem;
}

@mixin flexbox($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

.contenedor-gral {
  padding: 100px 30px 50px;
}
@media (min-width: 1024px) {
  .contenedor-gral {
    padding: 100px 60px 50px;
  }
}
@media (min-width: 1380px) {
  .contenedor-gral {
    padding: 100px 0px 50px;
  }
}

//INICIO NAVEGACION PRINCIPAL
.navegacion-principal {
  width: 100%;
  height: 75px;
  padding: 0px 30px;
  border-bottom: 1px solid $color-azul;
  position: sticky;
  background: white;
  top: 0;
  z-index: 9;
  .nav-movil {
    width: 100%;
    height: 100%;
    @include flexbox(row, center, flex-start);
    max-width: 500px;
    margin: 0 auto;
  }
  .logo {
    height: 40px;
    margin-right: auto;
    @include flexbox(row, center, center);
    font-size: 1.9rem;
    text-transform: capitalize;
    font-family: $fuente-fantasia;
    color: $color-rojo;
    letter-spacing: -1px;
  }
  .buscador,
  .menu-hamburguesa {
    height: 25px;
    width: 23px;
    @include flexbox(column, center, center);
  }
  .buscador {
    font-size: 0.9rem;
    color: $color-azul;
  }
  .menu-hamburguesa {
    margin-left: 25px;
  }
  .linea-hamburguesa {
    width: 100%;
    height: 2px;
    background: black;
    margin: 2.5px 0px;
  }
  .titulo-naranja {
    color: $color-naranja;
  }
}

//BOTONES
.btn-principal {
  padding: 13px 10px;
  margin: 0 auto;
  width: 160px;
  color: white;
  font-family: $fuente-textos;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 3px;
  i {
    margin-left: 10px;
  }
}

//INICIO QUERYS NAVEGACION PRINCIPAL
@media (min-width: 768px) {
  .navegacion-principal {
    .nav-movil {
      max-width: 100%;
    }
    .logo {
      font-size: 2.5rem;
    }
  }
}
@media (min-width: 1024px) {
  .info-nav-desktop {
    background: $color-azul;
    width: 100%;
    height: 50px;
    padding: 0px 60px;
    display: block;
  }
  .contenido-info {
    @include flexbox(row, flex-start, center);
    height: 100%;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
  }
  .correo-nav-desktop,
  .telefono-nav-desktop {
    color: white;
    @include flexbox(row, center, flex-start);
    margin-right: 25px;
    height: 100%;

    i {
      margin-right: 10px;
      font-size: 0.8rem;
    }
  }
  .redes-nav-desktop {
    width: 200px;
    height: 100%;
    @include flexbox(row, center, center);
    color: white;
    margin-left: auto;

    i {
      width: 35px;
      height: 100%;
      @include flexbox(row, center, center);
      font-size: 0.9rem;
    }
  }
  .btn-nav-desktop {
    width: 100px;
    height: 100%;
    color: white;
    background: $color-rojo;
    @include flexbox(row, center, center);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: $fuente-textos;
  }
  .navegacion-principal {
    padding: 0px 60px;
    height: 85px;
    .nav-movil {
      display: none;
    }
    .oculto {
      display: block;
    }
    .nav-desktop {
      width: 100%;
      height: 85px;
      @include flexbox(row, center, flex-start);
      max-width: 1320px;
      margin: 0 auto;
    }
    .buscador {
      margin-left: 15px;
    }
    .links-navegacion {
      width: 60%;
      height: 100%;
      @include flexbox(row, center, space-evenly);
      font-family: $fuente-textos;
      text-transform: capitalize;
      font-size: 0.9rem;
      font-weight: 500;
    }
    .link-nav {
      height: 100%;
      @include flexbox(row, center, center);
    }
    .link-nav:nth-child(1) {
      color: $color-azul;
      position: relative;
    }
    .link-nav:nth-child(1):after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background: $color-rojo;
    }
  }
}

//INICIO HEADER PRINCIPAL
.header-principal {
  position: relative;
  width: 100%;
  height: 99vw;
  background: black;
  padding: 0px 30px;
  .slide-01 {
    @include flexbox(column, flex-start, flex-start);
    width: 100%;
    height: 100%;
  }
  .titulo-principal {
    line-height: 1;
    font-size: clamp(2.62rem, 14vw, 3.85rem);
    font-family: $fuente-titulos;
    text-transform: capitalize;
    margin-top: 13vw;
    color: white;
    font-weight: 300;
    margin-left: -2px;
  }
  .titulo-secundario {
    line-height: 2;
    font-size: clamp(1.5rem, 8vw, 2.2rem);
    font-family: $fuente-textos;
    text-transform: capitalize;
    font-weight: 400;
    color: $color-naranja;
  }
  .texto-pequeño {
    color: white;
    line-height: 1.7;
    font-size: clamp(0.7rem, 3.5vw, 1rem);
    font-weight: 400;
  }
  .btn-header {
    background: $color-azul;
    color: white;
    padding: 7px 18px;
    border-radius: 3px;
    font-family: $fuente-textos;
    text-transform: capitalize;
    font-size: clamp(0.7rem, 3.5vw, 1rem);
    margin-top: 25px;
    font-weight: 600;
  }
}

//INICIO QUERYS CONTENIDO PRINCIPAL
@media (min-width: 480px) {
  .header-principal {
    height: 55vw;
    max-height: 300px;
    .slide-01 {
      max-width: 500px;
      margin: 0 auto;
    }
    .titulo-principal {
      font-size: clamp(3rem, 8.5vw, 3.5rem);
      margin-top: 50px;
    }
    .titulo-secundario {
      font-size: clamp(1.7rem, 5vw, 2rem);
      line-height: 1.3;
    }
    .texto-pequeño {
      font-size: clamp(0.5rem, 1.5vw, 0.7rem);
      max-width: 60%;
      margin-top: 5px;
    }
    .btn-header {
      font-size: clamp(0.5rem, 1.5vw, 0.7rem);
      margin-top: 10px;
      padding: 5px 15px;
    }
  }
}
@media (min-width: 768px) {
  .header-principal {
    height: 55vw;
    max-height: 640px;
    .slide-01 {
      max-width: 1320px;
    }
    .titulo-principal {
      font-size: clamp(4.7rem, 8.5vw, 7rem);
      margin-top: 10vw;
    }
    .titulo-secundario {
      font-size: clamp(2.63rem, 4vw, 3rem);
    }
    .texto-pequeño {
      font-size: clamp(0.7rem, 1.5vw, 1rem);
      max-width: 55%;
      margin: 20px 0px;
    }
    .btn-header {
      font-size: clamp(0.7rem, 1.5vw, 1rem);
      padding: 10px 18px;
    }
  }
}
@media (min-width: 1024px) {
  .header-principal {
    padding: 0px 60px;
    .titulo-principal {
      margin-top: 150px;
    }
  }
}

//INICIO CONTENIDO PRINCIPAL

.carta-contenido-principal {
  width: 100%;
  max-width: 430px;
  min-height: 470px;
  text-align: center;
  border-bottom: 2px solid $color-azul;
  margin: 0 auto 45px;
  .img-carta {
    width: 100%;
    min-height: 160px;
    height: 50vw;
    max-height: 270px;
    border: 1px solid black;
    border-radius: 5px;
  }
  .titulo-carta {
    font-family: $fuente-textos;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 700;
    color: $color-azul;
    margin: 25px 0px;
  }
  .textos-comunes {
    margin-bottom: 25px;
  }
  .btn-principal {
    background: $color-azul;
    margin-bottom: 50px;
  }
}
.carta-contenido-principal:nth-child(2) {
  border-bottom: 2px solid $color-rojo;
  .titulo-carta {
    color: $color-rojo;
  }
  .btn-principal {
    background: $color-rojo;
  }
}
.carta-contenido-principal:nth-child(3) {
  border-bottom: 2px solid $color-naranja;
  .titulo-carta {
    color: $color-naranja;
  }
  .btn-principal {
    background: $color-naranja;
  }
}
@media (min-width: 768px) {
  .contenido-principal {
    position: relative;
    @include flexbox(row, flex-start, space-between);
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 0px;
    .carta-contenido-principal {
      margin: 0px;
      width: 28vw;
      max-width: 400px;
      position: relative;
      top: -50px;
      background: white;
      .img-carta {
        min-height: 130px;
        height: 18vw;
      }
    }
  }
}

//INICIO SECCION NOSOTROS
.about {
  padding-top: 0px;
  .texto-grande {
    padding: 20px 15px 0px;
    max-width: 430px;
    margin: 0 auto 20px;
  }
  .headers-principales {
    max-width: 430px;
    margin: 0 auto;
  }
}
.headers-principales {
  width: 100%;
  height: 100px;
  max-width: 430px;
  margin: 0 auto;
  @include flexbox(row, flex-start, flex-start);
  .titulos-headers {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: $fuente-textos;
    letter-spacing: -1px;
    img {
      margin-right: 10px;
    }
  }
}

//QUERYS SECCION NOSOTROS
@media (min-width: 768px) {
  .about {
    max-width: 1320px;
    margin: 0 auto;
    @include flexbox(row, flex-start, flex-start);
    .headers-principales {
      min-width: 220px;
      max-width: 30%;
      margin: 0 auto 0 0;
    }
    .contenido-about {
      width: 70%;
    }
    .texto-grande {
      padding: 0px 20px;
      max-width: 100%;
    }
  }
}

//INICIO SECCION INFO
.info {
  background: $color-bg-black;
  color: white;
  .contenedor-gral {
    padding-bottom: 100px;
  }
  .carta-info {
    @include flexbox(row, flex-start, flex-start);
    max-width: 430px;
    margin: 0 auto;
    padding-top: 15px;
  }
  .faas-info {
    width: 55px;
    height: 100%;
    @include flexbox(row, flex-start, flex-start);
  }
  .contenido-info {
    padding: 0px 25px;
    @include flexbox(column, flex-start, flex-start);
  }
  .titulos-info {
    font-family: $fuente-textos;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.3rem;
  }
  .textos-comunes {
    color: white;
    line-height: 1.6;
    margin: 15px 0px;
    max-width: 340px;
  }
  .btn-info {
    padding-left: 0;
    color: $color-rojo;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .info {
    .contenedor-gral {
      @include flexbox(row, flex-start, flex-start);
      max-width: 1320px;
      margin: 0 auto;
    }
  }
  .carta-info {
    width: 33%;
    padding: 15px 15px 0px;
  }
  .contenido-info {
    width: calc(100% - 50px);
  }
}

//INICIO SECCION NOTICIAS/EVENTOS
//INICIO NOTICIAS
.noticias {
  background: $color-azul;
  max-width: 430px;
  margin: 0 auto;
  .headers-principales {
    flex-direction: column;
    margin-bottom: 50px;
    height: auto;
    .titulos-headers {
      width: 100%;
      margin-top: 0;
      font-size: 1.8rem;
      word-wrap: break-word;
      line-height: 1.2;
      margin-bottom: 15px;
      color: white;

      img {
        margin-right: 10px;
      }
    }
    .sub-headers {
      width: 100%;
      text-transform: capitalize;
      font-size: 0.9rem;
      font-weight: 400;
      color: $color-txt-black;
    }
  }
  .carta-grande-noticias {
    width: 100%;
    margin-bottom: 40px;
  }
  .img-noticias-grande {
    width: 100%;
    height: 46vw;
    min-height: 150px;
    max-height: 220px;
    border: 1px solid black;
    margin-bottom: 25px;
    border-radius: 5px;
  }
  .datos-noticias {
    @include flexbox(row, flex-start, flex-start);
    flex-wrap: wrap;
  }
  .dato {
    margin-right: 15px;
    text-transform: uppercase;
    color: $color-datos-info;
    font-size: 0.85rem;
    min-height: 25px;
    letter-spacing: 1px;
    font-weight: 800;
  }
  .texto-grande {
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 35px;
  }
  .cartas-pequeñas-noticias {
    @include flexbox(row, flex-start, center);
    width: 100%;
    margin-bottom: 40px;
    .texto-grande {
      margin: 10px 0px 0px;
      font-size: 1rem;
    }
  }
  .contenido-carta-pequeña {
    width: 60%;
    margin: 0 auto 0 15px;
  }
  .img-noticias-pequeña {
    background: black;
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }
}

//INICIO EVENTOS
.eventos {
  background: $color-bg-white;
  .header-eventos {
    height: auto;
    align-items: center;
    color: $color-rojo;
    margin-bottom: 40px;
    width: 100%;
  }
  .linea-header-eventos {
    width: calc(100% - 230px);
    height: 1px;
    background: $color-textos;
    margin-left: 25px;
  }
  .cartas-eventos {
    width: 100%;
    min-height: 120px;
    margin-bottom: 35px;
    @include flexbox(row, flex-start, flex-start);
    font-family: $fuente-textos;
    max-width: 430px;
    margin: 0 auto;
  }
  .fecha-eventos {
    width: 45px;
    height: 120px;
    text-align: center;
    @include flexbox(column, center, flex-start);
    margin-right: 20px;
  }
  .num-eventos {
    font-size: 2.1rem;
    font-weight: 800;
    width: 100%;
    color: $color-azul;
  }
  .mes-eventos {
    text-transform: uppercase;
    font-weight: 800;
  }
  .linea-eventos {
    width: 45px;
    height: 3px;
    background: $color-azul;
    margin-top: 10px;
  }
  .textos-eventos {
    font-weight: 800;
    color: $color-txt-black;
    text-transform: capitalize;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  .datos-eventos {
    color: $color-azul;
    text-transform: capitalize;
    font-weight: 500;
  }
  .horario {
    margin-bottom: 5px;
  }
  .btn-eventos {
    color: $color-rojo;
    margin-left: 0;
    font-weight: 700;
    margin: 0 auto;
  }
}
.contenedor-especial {
  max-width: 1320px;
  margin: 0 auto;
  background: $color-azul;
}

//QUERYS EVENTOS / NOTICIAS
@media (min-width: 768px) {
  .contenedor-especial {
    @include flexbox(row, flex-start, flex-start);
  }
  .noticias {
    padding: 100px 30px 50px;
    max-width: 100%;
    @include flexbox(row, flex-start, flex-start);
    flex-wrap: wrap;
    width: 65%;
    .headers-principales {
      max-width: 100%;
    }
    .carta-grande-noticias {
      width: 50%;
      padding-right: 30px;
    }
    .img-noticias-grande {
      height: 15vw;
      min-height: 105px;
    }
    .contenedor-cartas-pequeñas {
      width: 50%;
    }
  }
  .eventos {
    width: 35%;
    min-height: 855px;
    .cartas-eventos {
      margin-bottom: 50px;
    }
    .btn-eventos {
      margin-left: 15px;
    }
  }
}
.fa {
  img {
    width: 85px;
    height: 85px;
  }
}
//INICIO SECCION CLASES
.clases {
  .contenedor-gral {
    max-width: 430px;
    margin: 0 auto;
  }
  .headers-principales {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .titulos-headers {
    font-size: 1.8rem;
  }

  .cartas-clases {
    width: 100%;
    text-align: center;
    margin: 60px 0px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
  }
  .img-clases {
    width: 100%;
    min-height: 150px;
    height: 50vw;
    max-height: 250px;
  }
  .titulos-clases {
    font-weight: 800;
    color: $color-rojo;
    text-transform: capitalize;
    font-size: 1.2rem;
    margin: 25px 0px 15px;
    padding: 0px 20px;
  }
  .maestra,
  .grado {
    @include flexbox(row, center, center);
    padding: 0px 20px;
  }
  .negrita {
    font-weight: 800;
    text-transform: capitalize;
  }
  .btn-clases {
    color: $color-azul;
    margin-top: 15px;
    font-weight: 500;
  }
  .btn-seccion-clases {
    background: $color-azul;
    @include flexbox(row, center, center);
    min-width: 220px;
  }
}
//INICIO QUERYS CLASES
@media (min-width: 768px) {
  .clases {
    .contenedor-gral {
      max-width: 100%;
      flex-wrap: wrap;
      @include flexbox(row, flex-start, space-between);
      max-width: 1320px;
    }
    .headers-principales {
      max-width: 100%;
    }
    .cartas-clases {
      width: 30%;
      max-width: 380px;
    }
    .img-clases {
      min-height: 120px;
      height: 18vw;
    }
  }
}

//INICIO SECCION MAESTROS
.maestras {
  background: #8ed8f8;
  .contenedor-gral {
    max-width: 470px;
    margin: 0 auto;
    .headers-principales {
      flex-direction: column;
      align-items: center;
      height: auto;
    }
    .titulos-headers {
      font-size: 1.75rem;
      margin-top: 15px;
    }
  }
  .cartas-maestras {
    width: 100%;
    background: white;
    border-bottom: 5px solid #4ec4f7;
    margin: 50px 0px;
  }
  .img-maestra {
    width: 100%;
    min-height: 150px;
    height: 50vw;
    max-height: 250px;
    border: 1px solid black;
  }
  .redes-maestra {
    width: 40%;
    height: 40px;
    @include flexbox(row, center, center);
    margin: 30px 0px 0px 30px;
  }
  .link-maestra {
    width: 25%;
    height: 100%;
    @include flexbox(row, center, flex-start);
    color: $color-naranja;
  }
  .nombre-maestra {
    font-weight: 800;
    color: $color-rojo;
    text-transform: capitalize;
    font-size: 1.2rem;
    margin: 5px 0px 5px 30px;
  }
  .rol-maestra {
    margin-left: 30px;
    text-transform: capitalize;
    margin-bottom: 50px;
  }
  .btn-principal {
    background: $color-rojo;
    min-width: 250px;
  }
}
@media (min-width: 768px) {
  .maestras {
    .contenedor-gral {
      max-width: 100%;
      flex-wrap: wrap;
      @include flexbox(row, flex-start, space-between);
      max-width: 1320px;
    }
    .headers-principales {
      max-width: 100%;
    }
    .cartas-maestras {
      width: 31%;
      max-width: 400px;
      max-height: 430px;
    }
    .img-maestra {
      min-height: 120px;
      height: 18vw;
    }
  }
}
