//FUENTES
$fuente-titulos: "Montserrat", sans-serif;
$fuente-textos: "Poppins", sans-serif;
$fuente-fantasia: "Caveat", cursive;

//COLORES
$color-azul: #64bee6;
$color-rojo: #dc3c3a;
$color-naranja: #ff8c24;
$color-textos: #6b6b6b;
$color-bg-black: #272727;
$color-datos-info: #c2ecff;
$color-txt-black: #242424;
$color-bg-white: #f5f5f5;
$color-txt-footer: #ababab;
$color-txt-footer-dos: #8d8d8d;
$color-bg-flotante: #1f1f1f;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
}

//MIXINS
@mixin flexbox($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
//GENERALES
.oculto {
  display: none;
}
img {
  object-fit: fill;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.texto-pequeño {
  font-size: 0.8rem;
  font-family: $fuente-textos;
  font-weight: 500;
}
.textos-comunes,
.texto-grande {
  font-family: $fuente-textos;
  font-size: 1rem;
  line-height: 1.8;
  color: $color-textos;
}
.texto-grande {
  font-size: 1.1rem;
}
.logo {
  height: 40px;
  margin-right: auto;
  @include flexbox(row, center, center);
  font-size: 1.9rem;
  text-transform: capitalize;
  font-family: $fuente-fantasia;
  color: $color-rojo;
  letter-spacing: -1px;
  cursor: pointer;
}
.titulo-naranja {
  color: $color-naranja;
}
.current {
  color: $color-azul;
  position: relative;
}
.current:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: $color-rojo;
}

.contenedor-gral {
  padding: 100px 30px 50px;
  max-width: 470px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contenedor-gral {
    max-width: 1320px;
  }
}
@media (min-width: 1024px) {
  .contenedor-gral {
    padding: 100px 60px 50px;
  }
}
@media (min-width: 1380px) {
  .contenedor-gral {
    padding: 100px 0px 50px;
  }
}

//INICIO NAVEGACION PRINCIPAL
.navegacion-principal {
  width: 100%;
  height: 75px;
  padding: 0px 30px;
  border-bottom: 1px solid $color-azul;
  position: sticky;
  background: white;
  top: 0;
  z-index: 9;
  .nav-movil {
    width: 100%;
    height: 100%;
    @include flexbox(row, center, flex-start);
    max-width: 500px;
    margin: 0 auto;
  }
  .buscador,
  .menu-hamburguesa {
    height: 25px;
    width: 23px;
    @include flexbox(column, center, center);
  }
  .buscador {
    font-size: 0.9rem;
    color: $color-azul;
    cursor: pointer;
  }
  .menu-hamburguesa {
    margin-left: 25px;
  }
  .linea-hamburguesa {
    width: 100%;
    height: 2px;
    background: black;
    margin: 2.5px 0px;
  }
}

//BOTONES
.btn-principal {
  padding: 13px 10px;
  margin: 0 auto;
  width: 160px;
  color: white;
  font-family: $fuente-textos;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
  @include flexbox(row, center, center);
  i {
    margin-left: 10px;
  }
}

//INICIO QUERYS NAVEGACION PRINCIPAL
@media (min-width: 768px) {
  .navegacion-principal {
    .nav-movil {
      max-width: 100%;
    }
    .logo {
      font-size: 2.5rem;
    }
  }
}
@media (min-width: 1024px) {
  .info-nav-desktop {
    background: $color-azul;
    width: 100%;
    height: 50px;
    padding: 0px 60px;
    display: block;
  }
  .contenido-info {
    @include flexbox(row, flex-start, center);
    height: 100%;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
  }
  .correo-nav-desktop,
  .telefono-nav-desktop {
    color: white;
    @include flexbox(row, center, flex-start);
    margin-right: 25px;
    height: 100%;

    i {
      margin-right: 10px;
      font-size: 0.8rem;
    }
  }
  .telefono-nav-desktop {
    margin-right: auto;
  }
  .redes-nav-desktop {
    width: 200px;
    height: 100%;
    @include flexbox(row, center, center);
    color: white;
    margin-left: auto;

    i {
      width: 35px;
      height: 100%;
      @include flexbox(row, center, center);
      font-size: 0.9rem;
    }
  }
  .btn-nav-desktop {
    width: 100px;
    height: 100%;
    color: white;
    background: $color-rojo;
    @include flexbox(row, center, center);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: $fuente-textos;
    cursor: pointer;
  }
  .navegacion-principal {
    padding: 0px 60px;
    height: 85px;
    .nav-movil {
      display: none;
    }
    .oculto {
      display: block;
    }
    .nav-desktop {
      width: 100%;
      height: 85px;
      @include flexbox(row, center, flex-start);
      max-width: 1320px;
      margin: 0 auto;
    }
    .buscador {
      margin-left: 15px;
    }
    .links-navegacion {
      width: 60%;
      height: 100%;
      @include flexbox(row, center, space-evenly);
      font-family: $fuente-textos;
      text-transform: capitalize;
      font-size: 0.9rem;
      font-weight: 500;
    }
    .link-nav {
      height: 100%;
      @include flexbox(row, center, center);
    }
  }
}

//INICIO HEADER PRINCIPAL
.header-principal {
  position: relative;
  width: 100%;
  height: 99vw;
  padding: 0px 30px;
  background: url("../images/slider-1.jpg") center / cover;
  .slide-01 {
    @include flexbox(column, flex-start, flex-start);
    width: 100%;
    height: 100%;
  }
  .titulo-principal {
    line-height: 1;
    font-size: clamp(2.62rem, 14vw, 3.85rem);
    font-family: $fuente-titulos;
    text-transform: capitalize;
    margin-top: 13vw;
    color: white;
    font-weight: 300;
    margin-left: -2px;
  }
  .titulo-secundario {
    line-height: 2;
    font-size: clamp(1.5rem, 8vw, 2.2rem);
    font-family: $fuente-textos;
    text-transform: capitalize;
    font-weight: 400;
    color: $color-naranja;
  }
  .texto-pequeño {
    color: white;
    line-height: 1.7;
    font-size: clamp(0.7rem, 3.5vw, 1rem);
    font-weight: 400;
  }
  .btn-header {
    background: $color-azul;
    color: white;
    padding: 7px 18px;
    border-radius: 3px;
    font-family: $fuente-textos;
    text-transform: capitalize;
    font-size: clamp(0.7rem, 3.5vw, 1rem);
    margin-top: 25px;
    font-weight: 600;
    cursor: pointer;
  }
}

//INICIO QUERYS CONTENIDO PRINCIPAL
@media (min-width: 480px) {
  .header-principal {
    height: 55vw;
    max-height: 300px;
    .slide-01 {
      max-width: 500px;
      margin: 0 auto;
    }
    .titulo-principal {
      font-size: clamp(3rem, 8.5vw, 3.5rem);
      margin-top: 50px;
    }
    .titulo-secundario {
      font-size: clamp(1.7rem, 5vw, 2rem);
      line-height: 1.3;
    }
    .texto-pequeño {
      font-size: clamp(0.5rem, 1.5vw, 0.7rem);
      max-width: 60%;
      margin-top: 5px;
    }
    .btn-header {
      font-size: clamp(0.5rem, 1.5vw, 0.7rem);
      margin-top: 10px;
      padding: 5px 15px;
    }
  }
}
@media (min-width: 768px) {
  .header-principal {
    height: 55vw;
    max-height: 640px;
    .slide-01 {
      max-width: 1320px;
    }
    .titulo-principal {
      font-size: clamp(4.7rem, 8.5vw, 7rem);
      margin-top: 10vw;
    }
    .titulo-secundario {
      font-size: clamp(2.63rem, 4vw, 3rem);
    }
    .texto-pequeño {
      font-size: clamp(0.7rem, 1.5vw, 1rem);
      max-width: 55%;
      margin: 20px 0px;
    }
    .btn-header {
      font-size: clamp(0.7rem, 1.5vw, 1rem);
      padding: 10px 18px;
    }
  }
}
@media (min-width: 1024px) {
  .header-principal {
    padding: 0px 60px;
    .titulo-principal {
      margin-top: 150px;
    }
  }
}

//INICIO CONTENIDO PRINCIPAL
.contenido-principal {
  background: white;
}
.carta-contenido-principal {
  width: 100%;
  max-width: 430px;
  min-height: 470px;
  text-align: center;
  border-bottom: 2px solid $color-azul;
  margin: 0 auto 45px;
  .img-carta {
    width: 100%;
    min-height: 160px;
    height: 50vw;
    max-height: 270px;
    border-radius: 5px;
  }
  .img-nivel-01 {
    background: url("../images/niveles/nivel-01-movil.jpg") center / cover;
  }
  .img-nivel-02 {
    background: url("../images/niveles/nivel-02-movil.jpg") center / cover;
  }
  .img-nivel-03 {
    background: url("../images/niveles/nivel-03-movil.jpg") center / cover;
  }
  .titulo-carta {
    font-family: $fuente-textos;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 700;
    color: $color-azul;
    margin: 25px 0px;
  }
  .textos-comunes {
    margin-bottom: 25px;
  }
  .btn-principal {
    background: $color-azul;
    margin-bottom: 50px;
  }
}
.carta-contenido-principal:nth-child(2) {
  border-bottom: 2px solid $color-rojo;
  .titulo-carta {
    color: $color-rojo;
  }
  .btn-principal {
    background: $color-rojo;
  }
}
.carta-contenido-principal:nth-child(3) {
  border-bottom: 2px solid $color-naranja;
  .titulo-carta {
    color: $color-naranja;
  }
  .btn-principal {
    background: $color-naranja;
  }
}
@media (min-width: 768px) {
  .contenido-principal {
    .contenedor-gral {
      position: relative;
      @include flexbox(row, flex-start, space-between);
      padding-top: 0px;
    }
    .carta-contenido-principal {
      margin: 0px;
      width: 28vw;
      max-width: 400px;
      position: relative;
      top: -50px;
      .img-carta {
        min-height: 130px;
        height: 18vw;
      }
    }
  }
}

//INICIO SECCION NOSOTROS
.about {
  background: white;
  padding-top: 0px;
  .texto-grande {
    padding: 20px 15px 0px;
    max-width: 430px;
    margin: 0 auto 20px;
  }
  .headers-principales {
    max-width: 430px;
    margin: 0 auto;
  }
}
.headers-principales {
  width: 100%;
  height: 100px;
  max-width: 430px;
  margin: 0 auto;
  @include flexbox(row, flex-start, flex-start);
  .titulos-headers {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: $fuente-textos;
    letter-spacing: -1px;
    img {
      margin-right: 10px;
    }
  }
}

//QUERYS SECCION NOSOTROS
@media (min-width: 768px) {
  .about {
    .contenedor-gral {
      @include flexbox(row, flex-start, flex-start);
      .headers-principales {
        min-width: 220px;
        max-width: 30%;
        margin: 0 auto 0 0;
      }
      .contenido-about {
        width: 70%;
      }
      .texto-grande {
        padding: 0px 20px;
        max-width: 100%;
      }
    }
  }
}

//INICIO SECCION INFO
.info {
  background: $color-bg-black;
  color: white;
  .contenedor-gral {
    padding-bottom: 100px;
  }
  .carta-info {
    @include flexbox(row, flex-start, flex-start);
    max-width: 430px;
    margin: 0 auto;
    padding-top: 15px;
  }
  .faas-info {
    width: 55px;
    height: 100%;
    @include flexbox(row, flex-start, flex-start);
  }
  .contenido-info {
    padding: 0px 25px;
    @include flexbox(column, flex-start, flex-start);
  }
  .titulos-info {
    font-family: $fuente-textos;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.3rem;
  }
  .textos-comunes {
    color: white;
    line-height: 1.6;
    margin: 15px 0px;
    max-width: 340px;
  }
  .btn-info {
    padding-left: 0;
    color: $color-rojo;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .info {
    .contenedor-gral {
      @include flexbox(row, flex-start, flex-start);
    }
    .contenido-info {
      width: calc(100% - 50px);
    }
    .carta-info {
      width: 33%;
      padding: 15px 15px 0px;
    }
  }
}

//INICIO SECCION NOTICIAS/EVENTOS
//INICIO NOTICIAS
.noticias-eventos {
  background: url("../images/hp-blog-bg.jpg") center / cover;
}
.noticias {
  max-width: 430px;
  margin: 0 auto;
  .headers-principales {
    flex-direction: column;
    margin-bottom: 50px;
    height: auto;
    .titulos-headers {
      width: 100%;
      margin-top: 0;
      font-size: 1.8rem;
      word-wrap: break-word;
      line-height: 1.2;
      margin-bottom: 15px;
      color: white;

      img {
        margin-right: 10px;
      }
    }
    .sub-headers {
      width: 100%;
      text-transform: capitalize;
      font-size: 0.9rem;
      font-weight: 400;
      color: $color-txt-black;
      cursor: pointer;
    }
  }
  .carta-grande-noticias {
    width: 100%;
    margin-bottom: 40px;
  }
  .img-noticias-grande {
    width: 100%;
    height: 46vw;
    min-height: 150px;
    max-height: 220px;
    margin-bottom: 25px;
    border-radius: 5px;
    background: url("../images/noticias/img-principal-noticias.jpg") center /
      cover;
  }
  .datos-noticias {
    @include flexbox(row, flex-start, flex-start);
    flex-wrap: wrap;
  }
  .dato {
    margin-right: 15px;
    text-transform: uppercase;
    color: $color-datos-info;
    font-size: 0.85rem;
    min-height: 25px;
    letter-spacing: 1px;
    font-weight: 800;
  }
  .texto-grande {
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 35px;
  }
  .cartas-pequeñas-noticias {
    @include flexbox(row, flex-start, center);
    width: 100%;
    margin-bottom: 40px;
    .texto-grande {
      margin: 10px 0px 0px;
      font-size: 1rem;
    }
  }
  .contenido-carta-pequeña {
    width: 60%;
    margin: 0 auto 0 15px;
  }
  .img-noticias-pequeña {
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }
  .img-noticia-01 {
    background: url("../images/noticias/img-noticias-01.jpg") center / cover;
  }
  .img-noticia-02 {
    background: url("../images/noticias/img-noticias-02.jpg") center / cover;
  }
  .img-noticia-03 {
    background: url("../images/noticias/img-noticias-03.jpg") center / cover;
  }
}

//INICIO EVENTOS
.eventos {
  background: $color-bg-white;
  .header-eventos {
    height: auto;
    align-items: center;
    color: $color-rojo;
    margin-bottom: 40px;
    width: 100%;
  }
  .linea-header-eventos {
    width: calc(100% - 230px);
    height: 1px;
    background: $color-textos;
    margin-left: 25px;
  }
  .cartas-eventos {
    margin-bottom: 35px;
  }
  .btn-eventos {
    color: $color-rojo;
    margin-left: 0;
    font-weight: 700;
    margin: 0 auto;
  }
}
//ESTILOS DE CARTAS-EVENTOS SEPARADOS PARA PODER REUTILIZARLOS EN LA PAG-SEC EVENTOS
.cartas-eventos {
  width: 100%;
  min-height: 120px;
  margin-bottom: 35px;
  @include flexbox(row, flex-start, flex-start);
  font-family: $fuente-textos;
  max-width: 430px;
  margin: 0 auto;
}
.fecha-eventos {
  width: 45px;
  height: 120px;
  text-align: center;
  @include flexbox(column, center, flex-start);
  margin-right: 20px;
}
.num-eventos {
  font-size: 2.1rem;
  font-weight: 800;
  width: 100%;
  color: $color-azul;
}
.mes-eventos {
  text-transform: uppercase;
  font-weight: 800;
}
.linea-eventos {
  width: 45px;
  height: 3px;
  background: $color-azul;
  margin-top: 10px;
}
.textos-eventos {
  font-weight: 800;
  color: $color-txt-black;
  text-transform: capitalize;
  line-height: 1.3;
  margin-bottom: 20px;
}
.datos-eventos {
  color: $color-azul;
  text-transform: capitalize;
  font-weight: 500;
}
.horario {
  margin-bottom: 5px;
}
.contenedor-especial {
  max-width: 1320px;
  margin: 0 auto;
}

//QUERYS EVENTOS / NOTICIAS
@media (min-width: 768px) {
  .contenedor-especial {
    @include flexbox(row, flex-start, flex-start);
  }
  .noticias {
    padding: 100px 30px 50px;
    max-width: 100%;
    @include flexbox(row, flex-start, flex-start);
    flex-wrap: wrap;
    width: 65%;
    .headers-principales {
      max-width: 100%;
    }
    .carta-grande-noticias {
      width: 50%;
      padding-right: 30px;
    }
    .img-noticias-grande {
      height: 15vw;
      min-height: 105px;
    }
    .contenedor-cartas-pequeñas {
      width: 50%;
    }
  }
  .eventos {
    width: 35%;
    min-height: 855px;
    .cartas-eventos {
      margin-bottom: 50px;
    }
    .btn-eventos {
      margin-left: 15px;
    }
  }
}
.fa {
  img {
    width: 85px;
    height: 85px;
  }
}
//INICIO SECCION CLASES
.clases {
  background: white;
  .headers-principales {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .titulos-headers {
    font-size: 1.8rem;
  }
  .img-clase-01 {
    background: url("../images/clases/clase-01-movil.jpg") center / cover;
  }
  .img-clase-02 {
    background: url("../images/clases/clase-02-movil.jpg") center / cover;
  }
  .img-clase-03 {
    background: url("../images/clases/clase-03-movil.jpg") center / cover;
  }
  .btn-seccion-clases {
    background: $color-azul;
    @include flexbox(row, center, center);
    min-width: 220px;
  }
}

//ESTILOS POR SEPARADO PARA PODER REUTILIZARLOS EN LA PAG-SEC CLASES
.cartas-clases {
  width: 100%;
  text-align: center;
  margin: 60px 0px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
}
.img-clases {
  width: 100%;
  min-height: 150px;
  height: 50vw;
  max-height: 250px;
}
.titulos-clases {
  font-weight: 800;
  color: $color-rojo;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 25px 0px 15px;
  padding: 0px 20px;
}
.maestra,
.grado {
  @include flexbox(row, center, center);
  padding: 0px 20px;
}
.textos-comunes {
  text-transform: capitalize;
}
.negrita {
  font-weight: 800;
  text-transform: capitalize;
}
.btn-clases {
  color: $color-azul;
  margin-top: 15px;
  font-weight: 500;
}

//INICIO QUERYS CLASES
@media (min-width: 768px) {
  .clases {
    .contenedor-gral {
      flex-wrap: wrap;
      @include flexbox(row, flex-start, space-between);
    }
    .headers-principales {
      max-width: 100%;
    }
    .cartas-clases {
      width: 30%;
      max-width: 380px;
    }
    .img-clases {
      min-height: 120px;
      height: 18vw;
    }
  }
}

//INICIO SECCION MAESTROS
.maestras {
  background: #8ed8f8;
  .contenedor-gral {
    .headers-principales {
      flex-direction: column;
      align-items: center;
      height: auto;
    }
    .titulos-headers {
      font-size: 1.75rem;
      margin-top: 15px;
    }
  }
  .img-maestra-01 {
    background: url("../images/maestras/maestra-01-movil.jpg") center / cover;
  }
  .img-maestra-02 {
    background: url("../images/maestras/maestra-02-movil.jpg") center / cover;
  }
  .img-maestra-03 {
    background: url("../images/maestras/maestra-03-movil.jpg") center / cover;
  }
  .btn-principal {
    background: $color-rojo;
    min-width: 250px;
  }
}
//ESTILOS SEPARADOS PARA PODER REUTILIZARLOS EN LA PAG-SEC MAESTRAS
.cartas-maestras {
  width: 100%;
  background: white;
  border-bottom: 5px solid #4ec4f7;
  margin: 50px 0px;
}
.img-maestra {
  width: 100%;
  min-height: 150px;
  height: 50vw;
  max-height: 250px;
}
.redes-maestra {
  width: 40%;
  height: 40px;
  @include flexbox(row, center, center);
  margin: 30px 0px 0px 30px;
}
.link-maestra {
  width: 25%;
  height: 100%;
  @include flexbox(row, center, flex-start);
  color: $color-naranja;
}
.nombre-maestra {
  font-weight: 800;
  color: $color-rojo;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 5px 0px 5px 30px;
}
.rol-maestra {
  margin-left: 30px;
  text-transform: capitalize;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .maestras {
    .contenedor-gral {
      flex-wrap: wrap;
      @include flexbox(row, flex-start, space-between);
    }
    .headers-principales {
      max-width: 100%;
    }
    .cartas-maestras {
      width: 31%;
      max-width: 400px;
      max-height: 430px;
    }
    .img-maestra {
      min-height: 120px;
      height: 18vw;
    }
  }
}

//INICIO SECCION TESTIMONIOS

.testimonios {
  background: url("../images/testimonial-bg.jpg") center / cover;
  color: white;
  text-align: center;
  .header-testimonios {
    @include flexbox(column, center, flex-start);
    height: auto;
    margin-bottom: 35px;
  }
  .sub-testimonios {
    color: white;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .titulos-headers {
    font-size: 1.9rem;
  }
  .texto-grande {
    color: white;
    font-size: 1.15rem;
    font-style: italic;
    text-align: justify;
  }
  .fa-testimonio {
    color: $color-azul;
    font-size: 1.6rem;
    margin: 40px 0px 50px;
    display: block;
  }
  .autor-testimonio {
    width: 100%;
    @include flexbox(row, center, center);
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .img-autor {
    width: 60px;
    height: 60px;
    background: url("../images/testimonios/testimonial-1-150x150.jpg") center /
      cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  .datos-autor {
    .textos-comunes {
      text-align: left;
      color: white;
      text-transform: capitalize;
    }
    .textos-comunes:nth-child(1) {
      font-weight: 800;
      margin-top: 10px;
    }
    .textos-comunes:nth-child(2) {
      font-size: 0.9rem;
    }
  }
}

//INICIO QUERYS TESTIMONIOS

@media (min-width: 768px) {
  .testimonios {
    .contenedor-gral {
      max-width: 850px;
    }
    .texto-grande {
      text-align: center;
    }
  }
}

//INICIO SECCION GALERIA
.galeria {
  width: 100%;
  background: black;
  @include flexbox(column, flex-start, flex-start);
  .img-galeria {
    width: 100%;
    height: 80vw;
  }
  .img-galeria:nth-child(1) {
    background: url("../images/galeria/galeria-movil-01.jpg") center / cover;
  }
  .img-galeria:nth-child(2) {
    background: url("../images/galeria/galeria-movil-02.jpg") center / cover;
  }
  .img-galeria:nth-child(3) {
    background: url("../images/galeria/galeria-movil-03.jpg") center / cover;
  }
  .img-galeria:nth-child(4) {
    background: url("../images/galeria/galeria-movil-04.jpg") center / cover;
  }
  .img-galeria:nth-child(5) {
    background: url("../images/galeria/galeria-movil-05.jpg") center / cover;
  }
  .img-galeria:nth-child(6) {
    background: url("../images/galeria/galeria-movil-01.jpg") center / cover;
  }
}

//INICIO QUERYS GALERIA
@media (min-width: 470px) {
  .galeria {
    flex-direction: row;
    flex-wrap: wrap;
    .img-galeria {
      width: 50%;
      height: 50vw;
    }
  }
}
@media (min-width: 768px) {
  .galeria {
    .img-galeria {
      flex: 1;
      height: 20vw;
      max-height: 480px;
    }
    .img-galeria:nth-child(6) {
      display: none;
    }
  }
}

//INICIO SECCION FOOTER
.footer-principal {
  background: black;
  color: white;
  .cartas-footer {
    @include flexbox(column, flex-start, flex-start);
    margin-bottom: 70px;
  }
  .carta-main {
    .textos-comunes {
      color: $color-txt-footer;
      margin-bottom: 0;
    }
    .numero-footer,
    .correo-footer {
      color: white;
      margin-bottom: 10px;
      text-transform: lowercase;
    }
  }
  .logo {
    font-size: 2.7rem;
    margin-bottom: 40px;
  }
  .textos-comunes {
    text-transform: capitalize;
    color: $color-txt-footer-dos;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .numero-footer {
    margin-top: 20px;
  }

  .texto-grande {
    color: white;
    font-weight: 800;
    text-transform: capitalize;
    padding-bottom: 5px;
  }
  .linea-carta-footer {
    background: $color-rojo;
    width: 100%;
    height: 3px;
    margin: 5px 0px 20px;

    background: linear-gradient(90deg, $color-rojo 20%, $color-naranja 100%);
  }
  .redes-footer {
    @include flexbox(row, flex-start, flex-start);
    margin-top: 10px;
  }
  .link-redes-footer {
    width: 35px;
    height: 25px;
    @include flexbox(row, center, flex-start);
    color: $color-rojo;
    font-size: 1.3rem;
  }
}

//INICIO QUERYS FOOTER

@media (min-width: 850px) {
  .footer-principal {
    .logo {
      font-size: clamp(2rem, 4vw, 2.7rem);
    }
    .contenedor-gral {
      @include flexbox(row, flex-start, flex-start);
      flex-wrap: wrap;
    }
    .cartas-footer {
      width: 25%;
      padding-right: 30px;
    }
    .else-footer {
      width: 100%;
      @include flexbox(row, flex-start, flex-start);
    }
    .copy-footer {
      margin-right: auto;
    }
  }
}

//FLOTANTES
.btn-flotante-up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, $color-rojo 20%, $color-naranja 100%);
  color: white;
  @include flexbox(row, center, center);
}

.flotante-movil {
  width: 250px;
  height: 100%;
  background: $color-bg-flotante;
  color: $color-textos;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 50px 45px;
  .btn-cerrar-flotante {
    width: 20px;
    height: 20px;
    @include flexbox(row, center, center);
    position: relative;
  }
  .linea-btn-cerrar {
    width: 100%;
    height: 2px;
    background: $color-textos;
    transform: rotate(45deg);
    position: absolute;
  }
  .linea-btn-cerrar:nth-child(2) {
    transform: rotate(-45deg);
  }
  .contenido-flotante {
    width: 100%;
    @include flexbox(column, flex-start, flex-start);
    margin-top: 50px;
  }
  .link-flotante-movil {
    padding: 18px 0px;
    text-transform: uppercase;
    border-bottom: 1px solid $color-textos;
    width: 100%;

    font-weight: 800;
    font-size: 12px;
    a {
      @include flexbox(row, center, space-between);
      width: 100%;
      height: 100%;
    }
  }
  .texto-pequeño:nth-child(1) {
    color: white;
  }
}
@media (min-width: 550px) {
  .flotante-movil {
    width: 350px;
  }
}
@media (min-width: 1024px) {
  .flotante-movil {
    display: none;
  }
}

//INICIO PAGINAS SECUNDARIAS
//INICIO SECCION ADMISIONES
.admisiones {
  background: url("../images/paginas-secundarias/admisiones/bg-3.jpg") center /
    cover;
  width: 100%;
  min-height: 100vh;

  .titulo-admisiones {
    @include flexbox(column, center, flex-start);
    border-bottom: 3px solid $color-azul;
  }
  .sub-admisiones,
  .main-admisiones {
    font-size: 2.5rem;
    color: white;
    line-height: 1.5;
    text-align: center;
  }
  .sub-admisiones {
    text-transform: capitalize;
    font-weight: 300;
    margin-top: 20px;
    line-height: 1.7;
  }
  .main-admisiones {
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 80px;
  }
  .contenido-admisiones {
    margin-top: 40px;
  }
  .texto-main-admisiones {
    text-align: center;
    color: white;
    margin-bottom: 40px;
  }
  .btn-principal {
    background: $color-azul;
    width: 100%;
    margin-top: 10px;
    border-radius: 0px;
    min-height: 58px;
  }
}
//ESTILOS POR SEPARADO PARA PODER REUTILIZARLOS EN LA PAG-SEC CONTACTO
.input-mail {
  width: 100%;
  padding: 20px 15px;
  font-size: 1rem;
  border: none;
}
.input-mail::placeholder {
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .admisiones {
    .contenedor-gral {
      max-width: 650px;
      padding: 100px 30px 50px;
    }
    .main-admisiones {
      font-size: 5.2rem;
      max-width: 80%;
    }
    .input-admisiones {
      @include flexbox(row, flex-start, flex-start);
      width: 90%;
      margin: 0 auto;
    }
    .input-mail {
      width: 70%;
    }
    .btn-principal {
      width: 30%;
      margin: 0;
    }
  }
}

//INICIO PAG-SEC NOTICIAS
.header-pag-secundarias {
  background: url("../images/paginas-secundarias/page-title-2.jpg") center /
    cover;
  .contenedor-gral {
    padding-top: 50px;
  }
  .titulo-header-sec {
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
    line-height: 1.5;
  }
}
@media (min-width: 768px) {
  .header-pag-secundarias {
    .contenedor-gral {
      padding-top: 110px;
      padding-bottom: 110px;
    }
    .titulo-header-sec {
      font-size: 3rem;
    }
  }
}

//PAG-SEC NOTICIAS MAIN
.contenido-principal-noticias {
  background: $color-bg-white;
  .cartas-main-noticias {
    background: white;
    margin-bottom: 40px;
  }
  .img-cartas-main-noticias {
    width: 100%;
    height: 50vw;
    max-height: 230px;
  }
  .img-grande-noticia-01 {
    background: url("../images/paginas-secundarias/noticias/img-noticias-grande-01.jpg")
      center / cover;
  }
  .img-grande-noticia-02 {
    background: url("../images/paginas-secundarias/noticias/img-noticias-grande-02.jpg")
      center / cover;
  }
  .img-grande-noticia-03 {
    background: url("../images/paginas-secundarias/noticias/img-noticias-grande-03.jpg")
      center / cover;
  }
  .img-grande-noticia-04 {
    background: url("../images/paginas-secundarias/noticias/img-noticias-grande-04.jpg")
      center / cover;
  }
  .contenido-carta-main-noticias {
    padding: 50px 30px 40px;
  }
  .titulo-carta-main-noticias {
    color: $color-txt-black;
    text-transform: capitalize;
    font-size: 2rem;
    line-height: 1.2;
  }
  .datos-carta-main-noticias {
    @include flexbox(row, flex-start, flex-start);
    flex-wrap: wrap;
    margin: 20px 0px 20px;
  }
  .link-datos-main-noticias {
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 0.85rem;
    min-height: 25px;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: $fuente-textos;
    color: $color-txt-footer;
  }
  .textos-comunes {
    margin-bottom: 20px;
  }
  .btn-principal {
    background: $color-azul;
    margin-left: 0;
  }
  .nav-main-noticias {
    @include flexbox(row, flex-start, flex-start);
    width: 50%;
  }
  .link-nav-btn {
    width: 40px;
    height: 45px;
    padding: 10px;
    margin-right: 5px;
    background: rgb(224, 224, 224);
    color: $color-textos;
    @include flexbox(row, center, center);
  }

  .link-inicial {
    background: $color-azul;
    color: white;
  }
}
//QUERYS PAG-SEC NOTICIAS MAIN
@media (min-width: 768px) {
  .contenido-principal-noticias {
    .contenedor-gral {
      max-width: 1320px;
      @include flexbox(row, flex-start, flex-start);
    }
    .contenido-main-noticias {
      width: 60%;
      margin-right: auto;
    }
    .img-cartas-main-noticias {
      height: 32vw;
      max-height: 440px;
    }
  }
}

//PAG-SEC NOTICIAS SIDE
.contenido-side-noticias {
  margin: 100px 0px 50px;
  .carta-side:nth-child(2) {
    margin-top: 50px;
  }
  .header-carta-side {
    background: rgb(231, 231, 231);
    padding: 15px;
    border-bottom: 3px solid $color-azul;
    .textos-comunes {
      color: $color-txt-black;
      font-weight: 600;
      margin: 0;
      text-transform: capitalize;
    }
  }
  .mini-carta-side {
    @include flexbox(row, flex-start, flex-start);
    margin-top: 40px;
  }
  .img-mini {
    background: black;
    min-width: 80px;
    margin-right: 20px;
    height: 80px;
  }
  .img-mini-01 {
    background: url("../images/paginas-secundarias/noticias/img-noticias-01.jpg")
      center / cover;
  }
  .img-mini-02 {
    background: url("../images/paginas-secundarias/noticias/img-noticias-02.jpg")
      center / cover;
  }
  .img-mini-03 {
    background: url("../images/paginas-secundarias/noticias/img-noticias-03.jpg")
      center / cover;
  }
  .contenido-mini {
    .textos-comunes {
      color: $color-txt-black;
      font-weight: 600;
    }
  }
  .datos-mini {
    @include flexbox(row, flex-start, flex-start);
    flex-wrap: wrap;
    margin: 0px;
  }
  .links-mini {
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 0.7rem;
    min-height: 25px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: $fuente-textos;
    color: $color-azul;
  }
  .header-orange {
    border-bottom: 3px solid $color-naranja;
  }
  .contenido-tags {
    @include flexbox(row, flex-start, flex-start);
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .tag {
    background: $color-naranja;
    padding: 10px;
    font-family: $fuente-textos;
    color: white;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0px 10px 10px 0px;
  }
}
@media (min-width: 768px) {
  .contenido-principal-noticias {
    .contenido-side-noticias {
      width: 35%;
      margin-top: 0px;
    }
  }
}

//INICIO PAG-SEC EVENTOS
.contenido-principal-eventos {
  background: white;
  .cartas-pag-sec-eventos {
    margin-bottom: 40px;
  }
  .img-pag-sec-eventos {
    width: 100%;
    height: 50vw;
    max-height: 275px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .img-ev-01 {
    background: url("../images/paginas-secundarias/eventos/img-evento-01.jpg")
      center / cover;
  }
  .img-ev-02 {
    background: url("../images/paginas-secundarias/eventos/img-evento-02.jpg")
      center / cover;
  }
  .img-ev-03 {
    background: url("../images/paginas-secundarias/eventos/img-evento-03.jpg")
      center / cover;
  }
  .img-ev-04 {
    background: url("../images/paginas-secundarias/eventos/img-evento-04.jpg")
      center / cover;
  }
  .img-ev-05 {
    background: url("../images/paginas-secundarias/eventos/img-evento-05.jpg")
      center / cover;
  }
  .img-ev-06 {
    background: url("../images/paginas-secundarias/eventos/img-evento-06.jpg")
      center / cover;
  }
}
@media (min-width: 768px) {
  .contenido-principal-eventos {
    .contenedor-gral {
      @include flexbox(row, flex-start, space-between);
      flex-wrap: wrap;
    }
    .cartas-pag-sec-eventos {
      width: 31%;
    }
    .img-pag-sec-eventos {
      height: 18vw;
    }
  }
}

//INICIO PAG-SEC CLASES
.contenido-principal-clases {
  .cartas-clases {
    display: block;
  }
  background: white;
  .img-clase-01 {
    background: url("../images/paginas-secundarias/clases/img-clase-01.jpg")
      center / cover;
  }
  .img-clase-02 {
    background: url("../images/paginas-secundarias/clases/img-clase-02.jpg")
      center / cover;
  }
  .img-clase-03 {
    background: url("../images/paginas-secundarias/clases/img-clase-03.jpg")
      center / cover;
  }
  .img-clase-04 {
    background: url("../images/paginas-secundarias/clases/img-clase-04.jpg")
      center / cover;
  }
  .img-clase-05 {
    background: url("../images/paginas-secundarias/clases/img-clase-05.jpg")
      center / cover;
  }
  .img-clase-06 {
    background: url("../images/paginas-secundarias/clases/img-clase-06.jpg")
      center / cover;
  }
}
@media (min-width: 768px) {
  .contenido-principal-clases {
    .contenedor-gral {
      @include flexbox(row, flex-start, space-between);
      flex-wrap: wrap;
    }
    .cartas-clases {
      width: 31%;
      margin-top: 0px;
    }
    .img-clases {
      height: 18vw;
    }
  }
}

//INICIO PAG-SEC MAESTRAS
.contenido-principal-maestras {
  background: white;
  .img-maestra-01 {
    background: url("../images/paginas-secundarias/maestras/img-maestra-01.jpg")
      center / cover;
  }
  .img-maestra-02 {
    background: url("../images/paginas-secundarias/maestras/img-maestra-02.jpg")
      center / cover;
  }
  .img-maestra-03 {
    background: url("../images/paginas-secundarias/maestras/img-maestra-03.jpg")
      center / cover;
  }
  .img-maestra-04 {
    background: url("../images/paginas-secundarias/maestras/img-maestra-04.jpg")
      center / cover;
  }
  .img-maestra-05 {
    background: url("../images/paginas-secundarias/maestras/img-maestra-05.jpg")
      center / cover;
  }
  .img-maestra-06 {
    background: url("../images/paginas-secundarias/maestras/img-maestra-06.jpg")
      center / cover;
  }
  .cartas-maestras {
    border-bottom: none;
    margin-bottom: 70px;
    display: block;
  }
  .redes-maestra {
    margin-left: 0px;
  }
  .nombre-maestra {
    margin: 0px;
    font-size: 1.31rem;
  }
  .rol-maestra {
    margin: 0px 0px 20px;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .contenido-principal-maestras {
    .contenedor-gral {
      @include flexbox(row, flex-start, space-between);
      flex-wrap: wrap;
    }
    .cartas-maestras {
      width: 31%;
      margin-top: 0px;
    }
    .img-maestra {
      height: 18vw;
    }
  }
}

//INICIO PAG-SEC CONTACTO

.header-pag-sec-contacto {
  min-height: 500px;
  text-align: center;
  @include flexbox(column, center, center);
  .titulo-header-sec {
    font-size: clamp(2.8rem, 7vw, 4.7rem);
  }
}

.contenido-principal-contacto {
  background: white;
  .contenedor-cartas-contacto {
    background: $color-bg-black;
  }
  .carta-contacto {
    padding-bottom: 50px;
    @include flexbox(column, flex-start, flex-start);
  }
  .fa-contacto {
    font-size: 2.2rem;
    color: white;
  }
  .titulo-carta-contacto {
    color: white;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 800;
    margin: 25px 0px;
  }
  .texto-carta-contacto {
    color: white;
    text-transform: none;
    margin-bottom: 20px;
  }
  .negrita-contacto {
    color: $color-rojo;
  }
  .mail-negrita {
    text-transform: lowercase;
  }
}
@media (min-width: 768px) {
  .contenedor-cartas-contacto {
    .contenedor-gral {
      @include flexbox(row, flex-start, space-between);
    }
    .carta-contacto {
      padding: 0px;
      width: 30%;
      align-items: center;
      text-align: center;
    }
  }
}

//INICIO SECCION FORMULARIO PAG-SEC CONTACTO
.formulario-contacto {
  background: $color-bg-white;
  .contenedor-gral {
    max-width: 850px;
  }
  .titulo-form {
    color: $color-txt-black;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.4rem;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .sub-form {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  }
  .input-mail {
    font-family: $fuente-textos;
    margin: 10px 0px;
  }
  .btn-contacto {
    background: $color-azul;
    width: 100%;
    border-radius: 0px;
    text-align: center;
    border: none;
  }
}
//INICIO SECCION GOOGLE-MAP PAG-SEC CONTACTO
.google-map-contacto {
  width: 100%;
  height: 500px;
  background: red;
}

//INICIO SECCION REDES PAG-SEC CONTACTO

.redes-contacto {
  .contenedor-gral {
    max-width: 430px;
    padding-top: 50px;
  }
  .links-contacto {
    @include flexbox(row, flex-start, flex-start);
    width: 100%;
    height: 40px;
  }
  .link-contacto {
    width: 20%;
    height: 100%;
    @include flexbox(row, center, center);
    font-size: 1.5rem;
  }
}
.contenedor-main {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.flotante-dark {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: calc(100% - 250px);
  background: rgba(0, 0, 0, 0.479);
  z-index: 99;
  display: none;
  opacity: 0;
}
@media (min-width: 550px) {
  .flotante-dark {
    width: calc(100% - 350px);
  }
}
