@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.oculto {
  display: none;
}

img {
  -o-object-fit: fill;
     object-fit: fill;
}

ul {
  list-style-type: none;
}

.texto-pequeño {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.textos-comunes,
.texto-grande {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  color: #6b6b6b;
}

.texto-grande {
  font-size: 1.1rem;
}

.contenedor-gral {
  padding: 100px 30px 50px;
}

@media (min-width: 1024px) {
  .contenedor-gral {
    padding: 100px 60px 50px;
  }
}

@media (min-width: 1380px) {
  .contenedor-gral {
    padding: 100px 0px 50px;
  }
}

.navegacion-principal {
  width: 100%;
  height: 75px;
  padding: 0px 30px;
  border-bottom: 1px solid #64bee6;
  position: -webkit-sticky;
  position: sticky;
  background: white;
  top: 0;
  z-index: 9;
}

.navegacion-principal .nav-movil {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 500px;
  margin: 0 auto;
}

.navegacion-principal .logo {
  height: 40px;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.9rem;
  text-transform: capitalize;
  font-family: "Caveat", cursive;
  color: #dc3c3a;
  letter-spacing: -1px;
}

.navegacion-principal .buscador,
.navegacion-principal .menu-hamburguesa {
  height: 25px;
  width: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navegacion-principal .buscador {
  font-size: 0.9rem;
  color: #64bee6;
}

.navegacion-principal .menu-hamburguesa {
  margin-left: 25px;
}

.navegacion-principal .linea-hamburguesa {
  width: 100%;
  height: 2px;
  background: black;
  margin: 2.5px 0px;
}

.navegacion-principal .titulo-naranja {
  color: #ff8c24;
}

.btn-principal {
  padding: 13px 10px;
  margin: 0 auto;
  width: 160px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 3px;
}

.btn-principal i {
  margin-left: 10px;
}

@media (min-width: 768px) {
  .navegacion-principal .nav-movil {
    max-width: 100%;
  }
  .navegacion-principal .logo {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .info-nav-desktop {
    background: #64bee6;
    width: 100%;
    height: 50px;
    padding: 0px 60px;
    display: block;
  }
  .contenido-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
  }
  .correo-nav-desktop,
  .telefono-nav-desktop {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 25px;
    height: 100%;
  }
  .correo-nav-desktop i,
  .telefono-nav-desktop i {
    margin-right: 10px;
    font-size: 0.8rem;
  }
  .redes-nav-desktop {
    width: 200px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    margin-left: auto;
  }
  .redes-nav-desktop i {
    width: 35px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.9rem;
  }
  .btn-nav-desktop {
    width: 100px;
    height: 100%;
    color: white;
    background: #dc3c3a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
  }
  .navegacion-principal {
    padding: 0px 60px;
    height: 85px;
  }
  .navegacion-principal .nav-movil {
    display: none;
  }
  .navegacion-principal .oculto {
    display: block;
  }
  .navegacion-principal .nav-desktop {
    width: 100%;
    height: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 1320px;
    margin: 0 auto;
  }
  .navegacion-principal .buscador {
    margin-left: 15px;
  }
  .navegacion-principal .links-navegacion {
    width: 60%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .navegacion-principal .link-nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navegacion-principal .link-nav:nth-child(1) {
    color: #64bee6;
    position: relative;
  }
  .navegacion-principal .link-nav:nth-child(1):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #dc3c3a;
  }
}

.header-principal {
  position: relative;
  width: 100%;
  height: 99vw;
  background: black;
  padding: 0px 30px;
}

.header-principal .slide-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.header-principal .titulo-principal {
  line-height: 1;
  font-size: clamp(2.62rem, 14vw, 3.85rem);
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  margin-top: 13vw;
  color: white;
  font-weight: 300;
  margin-left: -2px;
}

.header-principal .titulo-secundario {
  line-height: 2;
  font-size: clamp(1.5rem, 8vw, 2.2rem);
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  color: #ff8c24;
}

.header-principal .texto-pequeño {
  color: white;
  line-height: 1.7;
  font-size: clamp(0.7rem, 3.5vw, 1rem);
  font-weight: 400;
}

.header-principal .btn-header {
  background: #64bee6;
  color: white;
  padding: 7px 18px;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: clamp(0.7rem, 3.5vw, 1rem);
  margin-top: 25px;
  font-weight: 600;
}

@media (min-width: 480px) {
  .header-principal {
    height: 55vw;
    max-height: 300px;
  }
  .header-principal .slide-01 {
    max-width: 500px;
    margin: 0 auto;
  }
  .header-principal .titulo-principal {
    font-size: clamp(3rem, 8.5vw, 3.5rem);
    margin-top: 50px;
  }
  .header-principal .titulo-secundario {
    font-size: clamp(1.7rem, 5vw, 2rem);
    line-height: 1.3;
  }
  .header-principal .texto-pequeño {
    font-size: clamp(0.5rem, 1.5vw, 0.7rem);
    max-width: 60%;
    margin-top: 5px;
  }
  .header-principal .btn-header {
    font-size: clamp(0.5rem, 1.5vw, 0.7rem);
    margin-top: 10px;
    padding: 5px 15px;
  }
}

@media (min-width: 768px) {
  .header-principal {
    height: 55vw;
    max-height: 640px;
  }
  .header-principal .slide-01 {
    max-width: 1320px;
  }
  .header-principal .titulo-principal {
    font-size: clamp(4.7rem, 8.5vw, 7rem);
    margin-top: 10vw;
  }
  .header-principal .titulo-secundario {
    font-size: clamp(2.63rem, 4vw, 3rem);
  }
  .header-principal .texto-pequeño {
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    max-width: 55%;
    margin: 20px 0px;
  }
  .header-principal .btn-header {
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    padding: 10px 18px;
  }
}

@media (min-width: 1024px) {
  .header-principal {
    padding: 0px 60px;
  }
  .header-principal .titulo-principal {
    margin-top: 150px;
  }
}

.carta-contenido-principal {
  width: 100%;
  max-width: 430px;
  min-height: 470px;
  text-align: center;
  border-bottom: 2px solid #64bee6;
  margin: 0 auto 45px;
}

.carta-contenido-principal .img-carta {
  width: 100%;
  min-height: 160px;
  height: 50vw;
  max-height: 270px;
  border: 1px solid black;
  border-radius: 5px;
}

.carta-contenido-principal .titulo-carta {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 700;
  color: #64bee6;
  margin: 25px 0px;
}

.carta-contenido-principal .textos-comunes {
  margin-bottom: 25px;
}

.carta-contenido-principal .btn-principal {
  background: #64bee6;
  margin-bottom: 50px;
}

.carta-contenido-principal:nth-child(2) {
  border-bottom: 2px solid #dc3c3a;
}

.carta-contenido-principal:nth-child(2) .titulo-carta {
  color: #dc3c3a;
}

.carta-contenido-principal:nth-child(2) .btn-principal {
  background: #dc3c3a;
}

.carta-contenido-principal:nth-child(3) {
  border-bottom: 2px solid #ff8c24;
}

.carta-contenido-principal:nth-child(3) .titulo-carta {
  color: #ff8c24;
}

.carta-contenido-principal:nth-child(3) .btn-principal {
  background: #ff8c24;
}

@media (min-width: 768px) {
  .contenido-principal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 0px;
  }
  .contenido-principal .carta-contenido-principal {
    margin: 0px;
    width: 28vw;
    max-width: 400px;
    position: relative;
    top: -50px;
    background: white;
  }
  .contenido-principal .carta-contenido-principal .img-carta {
    min-height: 130px;
    height: 18vw;
  }
}

.about {
  padding-top: 0px;
}

.about .texto-grande {
  padding: 0px 15px;
  max-width: 430px;
  margin: 0 auto 20px;
}

.about .headers-principales {
  max-width: 430px;
  margin: 0 auto;
}

.headers-principales {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.headers-principales .fa {
  margin-right: 15px;
}

.headers-principales .titulos-headers {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-top: 25px;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .about {
    max-width: 1320px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about .headers-principales {
    min-width: 220px;
    max-width: 30%;
    margin: 0 auto 0 0;
  }
  .about .contenido-about {
    width: 70%;
  }
  .about .texto-grande {
    padding: 0px 20px;
    max-width: 100%;
  }
}

.info {
  background: #272727;
  color: white;
}

.info .contenedor-gral {
  padding-bottom: 100px;
}

.info .carta-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 430px;
  margin: 0 auto;
  padding-top: 15px;
}

.info .faas-info {
  width: 55px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info .contenido-info {
  padding: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info .titulos-info {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.info .textos-comunes {
  color: white;
  line-height: 1.6;
  margin: 15px 0px;
  max-width: 340px;
}

.info .btn-info {
  padding-left: 0;
  color: #dc3c3a;
  margin-left: 0;
}

@media (min-width: 768px) {
  .info .contenedor-gral {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 1320px;
    margin: 0 auto;
  }
  .carta-info {
    width: 33%;
    padding: 15px 15px 0px;
  }
  .contenido-info {
    width: calc(100% - 50px);
  }
}
/*# sourceMappingURL=styles.css.map */