@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.oculto {
  display: none;
}

img {
  -o-object-fit: fill;
     object-fit: fill;
}

ul {
  list-style-type: none;
}

.texto-pequeño {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.textos-comunes,
.texto-grande {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  color: #6b6b6b;
}

.texto-grande {
  font-size: 1.1rem;
}

.logo {
  height: 40px;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.9rem;
  text-transform: capitalize;
  font-family: "Caveat", cursive;
  color: #dc3c3a;
  letter-spacing: -1px;
}

.titulo-naranja {
  color: #ff8c24;
}

.contenedor-gral {
  padding: 100px 30px 50px;
}

@media (min-width: 1024px) {
  .contenedor-gral {
    padding: 100px 60px 50px;
  }
}

@media (min-width: 1380px) {
  .contenedor-gral {
    padding: 100px 0px 50px;
  }
}

.navegacion-principal {
  width: 100%;
  height: 75px;
  padding: 0px 30px;
  border-bottom: 1px solid #64bee6;
  position: -webkit-sticky;
  position: sticky;
  background: white;
  top: 0;
  z-index: 9;
}

.navegacion-principal .nav-movil {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 500px;
  margin: 0 auto;
}

.navegacion-principal .buscador,
.navegacion-principal .menu-hamburguesa {
  height: 25px;
  width: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navegacion-principal .buscador {
  font-size: 0.9rem;
  color: #64bee6;
}

.navegacion-principal .menu-hamburguesa {
  margin-left: 25px;
}

.navegacion-principal .linea-hamburguesa {
  width: 100%;
  height: 2px;
  background: black;
  margin: 2.5px 0px;
}

.btn-principal {
  padding: 13px 10px;
  margin: 0 auto;
  width: 160px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 3px;
}

.btn-principal i {
  margin-left: 10px;
}

@media (min-width: 768px) {
  .navegacion-principal .nav-movil {
    max-width: 100%;
  }
  .navegacion-principal .logo {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .info-nav-desktop {
    background: #64bee6;
    width: 100%;
    height: 50px;
    padding: 0px 60px;
    display: block;
  }
  .contenido-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
  }
  .correo-nav-desktop,
  .telefono-nav-desktop {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 25px;
    height: 100%;
  }
  .correo-nav-desktop i,
  .telefono-nav-desktop i {
    margin-right: 10px;
    font-size: 0.8rem;
  }
  .redes-nav-desktop {
    width: 200px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    margin-left: auto;
  }
  .redes-nav-desktop i {
    width: 35px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.9rem;
  }
  .btn-nav-desktop {
    width: 100px;
    height: 100%;
    color: white;
    background: #dc3c3a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
  }
  .navegacion-principal {
    padding: 0px 60px;
    height: 85px;
  }
  .navegacion-principal .nav-movil {
    display: none;
  }
  .navegacion-principal .oculto {
    display: block;
  }
  .navegacion-principal .nav-desktop {
    width: 100%;
    height: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 1320px;
    margin: 0 auto;
  }
  .navegacion-principal .buscador {
    margin-left: 15px;
  }
  .navegacion-principal .links-navegacion {
    width: 60%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .navegacion-principal .link-nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navegacion-principal .link-nav:nth-child(1) {
    color: #64bee6;
    position: relative;
  }
  .navegacion-principal .link-nav:nth-child(1):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #dc3c3a;
  }
}

.header-principal {
  position: relative;
  width: 100%;
  height: 99vw;
  background: black;
  padding: 0px 30px;
}

.header-principal .slide-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.header-principal .titulo-principal {
  line-height: 1;
  font-size: clamp(2.62rem, 14vw, 3.85rem);
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  margin-top: 13vw;
  color: white;
  font-weight: 300;
  margin-left: -2px;
}

.header-principal .titulo-secundario {
  line-height: 2;
  font-size: clamp(1.5rem, 8vw, 2.2rem);
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  color: #ff8c24;
}

.header-principal .texto-pequeño {
  color: white;
  line-height: 1.7;
  font-size: clamp(0.7rem, 3.5vw, 1rem);
  font-weight: 400;
}

.header-principal .btn-header {
  background: #64bee6;
  color: white;
  padding: 7px 18px;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: clamp(0.7rem, 3.5vw, 1rem);
  margin-top: 25px;
  font-weight: 600;
}

@media (min-width: 480px) {
  .header-principal {
    height: 55vw;
    max-height: 300px;
  }
  .header-principal .slide-01 {
    max-width: 500px;
    margin: 0 auto;
  }
  .header-principal .titulo-principal {
    font-size: clamp(3rem, 8.5vw, 3.5rem);
    margin-top: 50px;
  }
  .header-principal .titulo-secundario {
    font-size: clamp(1.7rem, 5vw, 2rem);
    line-height: 1.3;
  }
  .header-principal .texto-pequeño {
    font-size: clamp(0.5rem, 1.5vw, 0.7rem);
    max-width: 60%;
    margin-top: 5px;
  }
  .header-principal .btn-header {
    font-size: clamp(0.5rem, 1.5vw, 0.7rem);
    margin-top: 10px;
    padding: 5px 15px;
  }
}

@media (min-width: 768px) {
  .header-principal {
    height: 55vw;
    max-height: 640px;
  }
  .header-principal .slide-01 {
    max-width: 1320px;
  }
  .header-principal .titulo-principal {
    font-size: clamp(4.7rem, 8.5vw, 7rem);
    margin-top: 10vw;
  }
  .header-principal .titulo-secundario {
    font-size: clamp(2.63rem, 4vw, 3rem);
  }
  .header-principal .texto-pequeño {
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    max-width: 55%;
    margin: 20px 0px;
  }
  .header-principal .btn-header {
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    padding: 10px 18px;
  }
}

@media (min-width: 1024px) {
  .header-principal {
    padding: 0px 60px;
  }
  .header-principal .titulo-principal {
    margin-top: 150px;
  }
}

.carta-contenido-principal {
  width: 100%;
  max-width: 430px;
  min-height: 470px;
  text-align: center;
  border-bottom: 2px solid #64bee6;
  margin: 0 auto 45px;
}

.carta-contenido-principal .img-carta {
  width: 100%;
  min-height: 160px;
  height: 50vw;
  max-height: 270px;
  border: 1px solid black;
  border-radius: 5px;
}

.carta-contenido-principal .titulo-carta {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 700;
  color: #64bee6;
  margin: 25px 0px;
}

.carta-contenido-principal .textos-comunes {
  margin-bottom: 25px;
}

.carta-contenido-principal .btn-principal {
  background: #64bee6;
  margin-bottom: 50px;
}

.carta-contenido-principal:nth-child(2) {
  border-bottom: 2px solid #dc3c3a;
}

.carta-contenido-principal:nth-child(2) .titulo-carta {
  color: #dc3c3a;
}

.carta-contenido-principal:nth-child(2) .btn-principal {
  background: #dc3c3a;
}

.carta-contenido-principal:nth-child(3) {
  border-bottom: 2px solid #ff8c24;
}

.carta-contenido-principal:nth-child(3) .titulo-carta {
  color: #ff8c24;
}

.carta-contenido-principal:nth-child(3) .btn-principal {
  background: #ff8c24;
}

@media (min-width: 768px) {
  .contenido-principal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 0px;
  }
  .contenido-principal .carta-contenido-principal {
    margin: 0px;
    width: 28vw;
    max-width: 400px;
    position: relative;
    top: -50px;
    background: white;
  }
  .contenido-principal .carta-contenido-principal .img-carta {
    min-height: 130px;
    height: 18vw;
  }
}

.about {
  padding-top: 0px;
}

.about .texto-grande {
  padding: 20px 15px 0px;
  max-width: 430px;
  margin: 0 auto 20px;
}

.about .headers-principales {
  max-width: 430px;
  margin: 0 auto;
}

.headers-principales {
  width: 100%;
  height: 100px;
  max-width: 430px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.headers-principales .titulos-headers {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  letter-spacing: -1px;
}

.headers-principales .titulos-headers img {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .about {
    max-width: 1320px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about .headers-principales {
    min-width: 220px;
    max-width: 30%;
    margin: 0 auto 0 0;
  }
  .about .contenido-about {
    width: 70%;
  }
  .about .texto-grande {
    padding: 0px 20px;
    max-width: 100%;
  }
}

.info {
  background: #272727;
  color: white;
}

.info .contenedor-gral {
  padding-bottom: 100px;
}

.info .carta-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 430px;
  margin: 0 auto;
  padding-top: 15px;
}

.info .faas-info {
  width: 55px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info .contenido-info {
  padding: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info .titulos-info {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.info .textos-comunes {
  color: white;
  line-height: 1.6;
  margin: 15px 0px;
  max-width: 340px;
}

.info .btn-info {
  padding-left: 0;
  color: #dc3c3a;
  margin-left: 0;
}

@media (min-width: 768px) {
  .info .contenedor-gral {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 1320px;
    margin: 0 auto;
  }
  .carta-info {
    width: 33%;
    padding: 15px 15px 0px;
  }
  .contenido-info {
    width: calc(100% - 50px);
  }
}

.noticias {
  background: #64bee6;
  max-width: 430px;
  margin: 0 auto;
}

.noticias .headers-principales {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  height: auto;
}

.noticias .headers-principales .titulos-headers {
  width: 100%;
  margin-top: 0;
  font-size: 1.8rem;
  word-wrap: break-word;
  line-height: 1.2;
  margin-bottom: 15px;
  color: white;
}

.noticias .headers-principales .titulos-headers img {
  margin-right: 10px;
}

.noticias .headers-principales .sub-headers {
  width: 100%;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 400;
  color: #242424;
}

.noticias .carta-grande-noticias {
  width: 100%;
  margin-bottom: 40px;
}

.noticias .img-noticias-grande {
  width: 100%;
  height: 46vw;
  min-height: 150px;
  max-height: 220px;
  border: 1px solid black;
  margin-bottom: 25px;
  border-radius: 5px;
}

.noticias .datos-noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.noticias .dato {
  margin-right: 15px;
  text-transform: uppercase;
  color: #c2ecff;
  font-size: 0.85rem;
  min-height: 25px;
  letter-spacing: 1px;
  font-weight: 800;
}

.noticias .texto-grande {
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 35px;
}

.noticias .cartas-pequeñas-noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.noticias .cartas-pequeñas-noticias .texto-grande {
  margin: 10px 0px 0px;
  font-size: 1rem;
}

.noticias .contenido-carta-pequeña {
  width: 60%;
  margin: 0 auto 0 15px;
}

.noticias .img-noticias-pequeña {
  background: black;
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.eventos {
  background: #f5f5f5;
}

.eventos .header-eventos {
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dc3c3a;
  margin-bottom: 40px;
  width: 100%;
}

.eventos .linea-header-eventos {
  width: calc(100% - 230px);
  height: 1px;
  background: #6b6b6b;
  margin-left: 25px;
}

.eventos .cartas-eventos {
  width: 100%;
  min-height: 120px;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Poppins", sans-serif;
  max-width: 430px;
  margin: 0 auto;
}

.eventos .fecha-eventos {
  width: 45px;
  height: 120px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 20px;
}

.eventos .num-eventos {
  font-size: 2.1rem;
  font-weight: 800;
  width: 100%;
  color: #64bee6;
}

.eventos .mes-eventos {
  text-transform: uppercase;
  font-weight: 800;
}

.eventos .linea-eventos {
  width: 45px;
  height: 3px;
  background: #64bee6;
  margin-top: 10px;
}

.eventos .textos-eventos {
  font-weight: 800;
  color: #242424;
  text-transform: capitalize;
  line-height: 1.3;
  margin-bottom: 20px;
}

.eventos .datos-eventos {
  color: #64bee6;
  text-transform: capitalize;
  font-weight: 500;
}

.eventos .horario {
  margin-bottom: 5px;
}

.eventos .btn-eventos {
  color: #dc3c3a;
  margin-left: 0;
  font-weight: 700;
  margin: 0 auto;
}

.contenedor-especial {
  max-width: 1320px;
  margin: 0 auto;
  background: #64bee6;
}

@media (min-width: 768px) {
  .contenedor-especial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .noticias {
    padding: 100px 30px 50px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 65%;
  }
  .noticias .headers-principales {
    max-width: 100%;
  }
  .noticias .carta-grande-noticias {
    width: 50%;
    padding-right: 30px;
  }
  .noticias .img-noticias-grande {
    height: 15vw;
    min-height: 105px;
  }
  .noticias .contenedor-cartas-pequeñas {
    width: 50%;
  }
  .eventos {
    width: 35%;
    min-height: 855px;
  }
  .eventos .cartas-eventos {
    margin-bottom: 50px;
  }
  .eventos .btn-eventos {
    margin-left: 15px;
  }
}

.fa img {
  width: 85px;
  height: 85px;
}

.clases .contenedor-gral {
  max-width: 430px;
  margin: 0 auto;
}

.clases .headers-principales {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.clases .titulos-headers {
  font-size: 1.8rem;
}

.clases .cartas-clases {
  width: 100%;
  text-align: center;
  margin: 60px 0px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.clases .img-clases {
  width: 100%;
  min-height: 150px;
  height: 50vw;
  max-height: 250px;
}

.clases .titulos-clases {
  font-weight: 800;
  color: #dc3c3a;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 25px 0px 15px;
  padding: 0px 20px;
}

.clases .maestra,
.clases .grado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 20px;
}

.clases .negrita {
  font-weight: 800;
  text-transform: capitalize;
}

.clases .btn-clases {
  color: #64bee6;
  margin-top: 15px;
  font-weight: 500;
}

.clases .btn-seccion-clases {
  background: #64bee6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 220px;
}

@media (min-width: 768px) {
  .clases .contenedor-gral {
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1320px;
  }
  .clases .headers-principales {
    max-width: 100%;
  }
  .clases .cartas-clases {
    width: 30%;
    max-width: 380px;
  }
  .clases .img-clases {
    min-height: 120px;
    height: 18vw;
  }
}

.maestras {
  background: #8ed8f8;
}

.maestras .contenedor-gral {
  max-width: 470px;
  margin: 0 auto;
}

.maestras .contenedor-gral .headers-principales {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.maestras .contenedor-gral .titulos-headers {
  font-size: 1.75rem;
  margin-top: 15px;
}

.maestras .cartas-maestras {
  width: 100%;
  background: white;
  border-bottom: 5px solid #4ec4f7;
  margin: 50px 0px;
}

.maestras .img-maestra {
  width: 100%;
  min-height: 150px;
  height: 50vw;
  max-height: 250px;
  border: 1px solid black;
}

.maestras .redes-maestra {
  width: 40%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0px 0px 30px;
}

.maestras .link-maestra {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #ff8c24;
}

.maestras .nombre-maestra {
  font-weight: 800;
  color: #dc3c3a;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 5px 0px 5px 30px;
}

.maestras .rol-maestra {
  margin-left: 30px;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.maestras .btn-principal {
  background: #dc3c3a;
  min-width: 250px;
}

@media (min-width: 768px) {
  .maestras .contenedor-gral {
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1320px;
  }
  .maestras .headers-principales {
    max-width: 100%;
  }
  .maestras .cartas-maestras {
    width: 31%;
    max-width: 400px;
    max-height: 430px;
  }
  .maestras .img-maestra {
    min-height: 120px;
    height: 18vw;
  }
}

.testimonios {
  background: #dc3c3a;
  color: white;
  text-align: center;
}

.testimonios .contenedor-gral {
  max-width: 430px;
  margin: 0 auto;
}

.testimonios .header-testimonios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
  margin-bottom: 35px;
}

.testimonios .sub-testimonios {
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 10px;
}

.testimonios .titulos-headers {
  font-size: 1.9rem;
}

.testimonios .texto-grande {
  color: white;
  font-size: 1.15rem;
  font-style: italic;
  text-align: justify;
}

.testimonios .fa-testimonio {
  color: #64bee6;
  font-size: 1.6rem;
  margin: 40px 0px 50px;
  display: block;
}

.testimonios .autor-testimonio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.testimonios .img-autor {
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonios .datos-autor .textos-comunes {
  text-align: left;
  color: white;
  text-transform: capitalize;
}

.testimonios .datos-autor .textos-comunes:nth-child(1) {
  font-weight: 800;
  margin-top: 10px;
}

.testimonios .datos-autor .textos-comunes:nth-child(2) {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .testimonios .contenedor-gral {
    max-width: 850px;
  }
  .testimonios .texto-grande {
    text-align: center;
  }
}

.galeria {
  width: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.galeria .img-galeria {
  width: 100%;
  height: 80vw;
  border: 1px solid white;
}

@media (min-width: 470px) {
  .galeria {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .galeria .img-galeria {
    width: 50%;
    height: 50vw;
  }
}

@media (min-width: 768px) {
  .galeria .img-galeria {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 20vw;
    max-height: 480px;
  }
  .galeria .img-galeria:nth-child(1) {
    display: none;
  }
}

.footer-principal {
  background: black;
  color: white;
}

.footer-principal .contenedor-gral {
  max-width: 430px;
  margin: 0 auto;
}

.footer-principal .cartas-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 70px;
}

.footer-principal .carta-main .textos-comunes {
  color: #ababab;
  margin-bottom: 0;
}

.footer-principal .carta-main .numero-footer,
.footer-principal .carta-main .correo-footer {
  color: white;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.footer-principal .logo {
  font-size: 2.7rem;
  margin-bottom: 40px;
}

.footer-principal .textos-comunes {
  text-transform: capitalize;
  color: #8d8d8d;
  margin-bottom: 8px;
}

.footer-principal .numero-footer {
  margin-top: 20px;
}

.footer-principal .texto-grande {
  color: white;
  font-weight: 800;
  text-transform: capitalize;
  padding-bottom: 5px;
}

.footer-principal .linea-carta-footer {
  background: #dc3c3a;
  width: 100%;
  height: 3px;
  margin: 5px 0px 20px;
}

.footer-principal .redes-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 10px;
}

.footer-principal .link-redes-footer {
  width: 35px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #dc3c3a;
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .footer-principal .logo {
    font-size: clamp(2rem, 4vw, 2.7rem);
  }
  .footer-principal .contenedor-gral {
    max-width: 1320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-principal .cartas-footer {
    width: 25%;
    padding-right: 30px;
  }
  .footer-principal .else-footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer-principal .copy-footer {
    margin-right: auto;
  }
}
/*# sourceMappingURL=styles.css.map */